.brand100-text {
    color: var(--brand100);
}

.alert100-text {
    color: var(--alert100);
}

p {
    color: var(--grey300);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
}

small {
    color: var(--grey300);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-4);
}